* {
    margin: 0;
    padding: 0;
}

.body {
    margin: 50px 130px;
    font-family: "Merriweather", serif;
}

main {
    width: 1320px;
    height: 600px;
    margin: 0 auto;
}

/* Header section design */
header {
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    border-radius: 16px;
    background: url("../Images/Banner.png");
    background-repeat: no-repeat;
}

.banner {
    padding: 200px 300px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;

}

/* Main section started */
.percentage {
    margin-top: 120px;
    text-align: center;
}

.percentage-title {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}

.percentage-description {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
}

.percentage-category {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

.img {
    margin-top: 48px;
    margin-bottom: 120px;
}

/* Welcoming section style */
.welcoming {
    margin: 0 auto;
    background: url('../Images/Vectorrr.png');
    background-repeat: no-repeat;
}

.welcoming-container {
    display: flex;
    gap: 90px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    padding: 80px;
}

.welcoming-content {
    padding: 60px;
}

.welcoming-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.welcoming-description {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
}

.btn {
    margin-top: 40px;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border-radius: 20px;
}

/* Time section */
.time {
    margin-top: 120px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 100px 385px 214px 385px;
}

.time-container {
    color: #070211;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
}

.time-content {
    color: #F00;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

/* Offer section design */
.offer {
    margin-top: 120px;
    background: #FFF;
}

.offer-container {
    display: flex;
    gap: 70px;
}

.offer-container img {
    border: 15px solid #F00;
    border-radius: 50%;
}

.offer-content {
    margin-top: 70px;
    padding-left: 70px;
}

.offer-content img {
    width: 148px;
    height: 148px;
}

/* Holidays section */
.holidays {
    margin-top: 120px;
    text-align: center;
}

.holidays-title {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
}

.holidays-title-1 {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
}

.holidays-title-1 span {
    color: #F00;
}

.holidays-description {
    font-size: 20px;
    color: rgba(7, 2, 17, 0.60);
    margin-top: 20px;
    padding: 20px;
}

.holidays-images {
    position: relative;
    bottom: 180px;
}

.img-1 {
    position: relative;
    top: 250px;
    left: 20px;
}

.img-2 {
    position: relative;
    top: 7px;
    left: 45px;
}

.img-3 {
    position: absolute;
    bottom: 300px;
    right: 300px;
}

/* protfolio section style */
.protfolio-title {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.protfolio-title-1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.protfolio-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}
.protfolio-images{
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
 
}